/* line 3, ../resources/scss/helpers/_base.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 7, ../resources/scss/helpers/_base.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 12, ../resources/scss/helpers/_base.scss */
body {
  background-color: white;
  font-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Slabo 27px", serif;
  font-style: normal;
}
@media screen and (min-width: 600px) {
  /* line 12, ../resources/scss/helpers/_base.scss */
  body {
    font-size: 17px;
  }
}
@media screen and (min-width: 800px) {
  /* line 12, ../resources/scss/helpers/_base.scss */
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1025px) {
  /* line 12, ../resources/scss/helpers/_base.scss */
  body {
    font-size: 15px;
  }
}

/* line 31, ../resources/scss/helpers/_base.scss */
a {
  text-decoration: none;
}

/* line 35, ../resources/scss/helpers/_base.scss */
ul li {
  list-style-type: none;
}

/* line 39, ../resources/scss/helpers/_base.scss */
h2 {
  color: white;
  font-family: Adelle, Georgia, serif;
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 15px;
  font-weight: normal;
  line-height: 1.2;
  padding: 12px;
}
@media screen and (min-width: 1025px) {
  /* line 39, ../resources/scss/helpers/_base.scss */
  h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1025px) {
  /* line 39, ../resources/scss/helpers/_base.scss */
  h2 {
    white-space: pre-wrap;
  }
}

/* line 6, ../resources/scss/layout/_header.scss */
.author-comment {
  color: white;
  font-size: 0.7rem;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  z-index: 3;
  padding: 10px 15px 0 15px;
  width: 85%;
  height: auto;
}

/* line 16, ../resources/scss/layout/_header.scss */
.container {
  margin: 0 auto;
  max-width: 1025px;
  height: auto;
}
/* line 21, ../resources/scss/layout/_header.scss */
.container .container-header {
  width: 100%;
  height: 65px;
}
@media screen and (max-width: 1025px) {
  /* line 21, ../resources/scss/layout/_header.scss */
  .container .container-header {
    background-color: #fa4b2a;
  }
}
@media screen and (min-width: 1025px) {
  /* line 21, ../resources/scss/layout/_header.scss */
  .container .container-header {
    margin-top: 10px;
    height: 145px;
  }
}
/* line 31, ../resources/scss/layout/_header.scss */
.container .container-header .upper-header {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1025px) {
  /* line 31, ../resources/scss/layout/_header.scss */
  .container .container-header .upper-header {
    height: 96px;
  }
}
@media screen and (max-width: 1025px) {
  /* line 31, ../resources/scss/layout/_header.scss */
  .container .container-header .upper-header {
    height: 65px;
  }
}
/* line 40, ../resources/scss/layout/_header.scss */
.container .container-header .upper-header .trend-article {
  width: 72.1%;
  height: 65px;
  float: right;
}
@media screen and (min-width: 1025px) {
  /* line 40, ../resources/scss/layout/_header.scss */
  .container .container-header .upper-header .trend-article {
    height: 76px;
  }
}
@media screen and (min-width: 1025px) {
  /* line 40, ../resources/scss/layout/_header.scss */
  .container .container-header .upper-header .trend-article {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1025px) {
  /* line 53, ../resources/scss/layout/_header.scss */
  .container .container-header .lower-header-links {
    width: 100%;
    height: 49px;
  }
}

/* line 61, ../resources/scss/layout/_header.scss */
#logo {
  float: left;
  width: 29.3%;
  height: 60px;
  background-image: url("../resources/images/logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media screen and (min-width: 700px) and (max-width: 1025px) {
  /* line 61, ../resources/scss/layout/_header.scss */
  #logo {
    background-size: 80%;
  }
}
@media screen and (min-width: 1025px) {
  /* line 61, ../resources/scss/layout/_header.scss */
  #logo {
    margin: 20px 0 0 -15px;
    height: 80px;
  }
}
@media screen and (max-width: 700px) {
  /* line 61, ../resources/scss/layout/_header.scss */
  #logo {
    width: 40%;
  }
}
@media screen and (max-width: 1025px) {
  /* line 61, ../resources/scss/layout/_header.scss */
  #logo {
    width: 25%;
  }
}
/* line 83, ../resources/scss/layout/_header.scss */
#logo:hover {
  background-color: red;
}

@media screen and (min-width: 700px) {
  /* line 87, ../resources/scss/layout/_header.scss */
  .jack {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 85%;
    height: 60px;
    background-color: white;
  }
}
@media screen and (min-width: 700px) and (max-width: 1025px) and (min-width: 700px) {
  /* line 87, ../resources/scss/layout/_header.scss */
  .jack {
    margin-top: 0;
    width: 84%;
    height: 65px;
  }
}
@media screen and (min-width: 700px) {
  /* line 98, ../resources/scss/layout/_header.scss */
  .jack img {
    float: left;
  }
}
@media screen and (min-width: 700px) and (max-width: 1045px) and (min-width: 700px) {
  /* line 98, ../resources/scss/layout/_header.scss */
  .jack img {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  /* line 87, ../resources/scss/layout/_header.scss */
  .jack {
    display: none;
  }
}

/* line 111, ../resources/scss/layout/_header.scss */
.trend-nw {
  border: 1px solid black;
  height: 63px;
  float: left;
  padding-left: 10px;
}
@media screen and (max-width: 1045px) {
  /* line 111, ../resources/scss/layout/_header.scss */
  .trend-nw {
    width: 98%;
  }
}
@media screen and (min-width: 1045px) {
  /* line 111, ../resources/scss/layout/_header.scss */
  .trend-nw {
    width: 83.7%;
  }
}
/* line 123, ../resources/scss/layout/_header.scss */
.trend-nw .trend-text {
  float: left;
  width: 92%;
  height: 48px;
  padding-top: 5px;
  line-height: 1.7;
}
@media screen and (max-width: 1025px) and (min-width: 700px) {
  /* line 123, ../resources/scss/layout/_header.scss */
  .trend-nw .trend-text {
    height: 38px;
  }
}
/* line 133, ../resources/scss/layout/_header.scss */
.trend-nw .trend-text header {
  color: red;
  font-size: 13px;
}
/* line 137, ../resources/scss/layout/_header.scss */
.trend-nw .trend-text h3 {
  font-size: .85rem;
  font-weight: normal;
  color: black;
}
@media screen and (max-width: 1025px) and (min-width: 700px) {
  /* line 137, ../resources/scss/layout/_header.scss */
  .trend-nw .trend-text h3 {
    font-size: 0.75rem;
  }
}
/* line 146, ../resources/scss/layout/_header.scss */
.trend-nw .trend-text h3:hover {
  color: red;
}
/* line 151, ../resources/scss/layout/_header.scss */
.trend-nw .trend-drop-down {
  width: 8%;
  height: 58px;
  float: right;
  background-color: #ddd;
  position: relative;
}
/* line 157, ../resources/scss/layout/_header.scss */
.trend-nw .trend-drop-down:after {
  border: 0 solid transparent;
  border-top-color: black;
  border-width: 5px 5px 0 5px;
  position: absolute;
  content: '';
  top: 30px;
  left: 15px;
}
/* line 166, ../resources/scss/layout/_header.scss */
.trend-nw .trend-drop-down:hover:after {
  border-top-color: red;
}
@media screen and (max-width: 1025px) and (min-width: 700px) {
  /* line 151, ../resources/scss/layout/_header.scss */
  .trend-nw .trend-drop-down {
    height: 63px;
  }
}

/* line 175, ../resources/scss/layout/_header.scss */
.new-article {
  background-color: #fa4b2a;
  color: white;
  float: right;
  width: 10.1%;
  height: 65px;
  padding: 0 2px 0 4px;
}
@media screen and (max-width: 700px) {
  /* line 175, ../resources/scss/layout/_header.scss */
  .new-article {
    width: 25%;
  }
}
@media screen and (max-width: 1025px) and (min-width: 700px) {
  /* line 175, ../resources/scss/layout/_header.scss */
  .new-article {
    width: 14%;
  }
}
@media screen and (min-width: 1025px) {
  /* line 175, ../resources/scss/layout/_header.scss */
  .new-article {
    height: 60px;
    width: 14.1%;
    width: 14.1%;
    height: 60px;
  }
}
@media screen and (max-width: 1025px) {
  /* line 175, ../resources/scss/layout/_header.scss */
  .new-article {
    height: 60px;
  }
}
/* line 199, ../resources/scss/layout/_header.scss */
.new-article:hover {
  background-color: red;
}
/* line 203, ../resources/scss/layout/_header.scss */
.new-article strong {
  line-height: 1;
  font-size: 2.5rem;
  margin-left: 30px;
  margin-top: 3px;
}
@media screen and (max-width: 1025px) and (min-width: 700px) {
  /* line 203, ../resources/scss/layout/_header.scss */
  .new-article strong {
    margin-left: 15px;
  }
}
@media screen and (max-width: 700px) {
  /* line 203, ../resources/scss/layout/_header.scss */
  .new-article strong {
    margin-left: 10px;
  }
}
/* line 217, ../resources/scss/layout/_header.scss */
.new-article div em {
  font-size: .85rem;
  font-style: normal;
}
@media screen and (max-width: 870px) and (min-width: 600px) {
  /* line 217, ../resources/scss/layout/_header.scss */
  .new-article div em {
    font-size: .75rem;
  }
}
@media screen and (max-width: 1025px) and (min-width: 870px) {
  /* line 217, ../resources/scss/layout/_header.scss */
  .new-article div em {
    font-size: .65rem;
  }
}
@media screen and (max-width: 600px) {
  /* line 217, ../resources/scss/layout/_header.scss */
  .new-article div em {
    font-size: 0.8rem;
  }
}

/* line 233, ../resources/scss/layout/_header.scss */
.social-icons {
  width: 130px;
  height: 16px;
  float: right;
}
@media screen and (max-width: 1025px) {
  /* line 233, ../resources/scss/layout/_header.scss */
  .social-icons {
    display: none;
  }
}
/* line 241, ../resources/scss/layout/_header.scss */
.social-icons ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 10px;
}
/* line 245, ../resources/scss/layout/_header.scss */
.social-icons ul li a img {
  width: 18px;
  height: 14px;
}

/* line 252, ../resources/scss/layout/_header.scss */
.header-links {
  width: 98%;
  height: 30px;
  padding: 10px;
  background-color: black;
}
@media screen and (max-width: 1025px) {
  /* line 252, ../resources/scss/layout/_header.scss */
  .header-links {
    display: none;
  }
}
/* line 261, ../resources/scss/layout/_header.scss */
.header-links ul li {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 18px;
  font-family: "Slabo 27px", serif;
}
/* line 268, ../resources/scss/layout/_header.scss */
.header-links ul li a {
  color: white;
}
/* line 271, ../resources/scss/layout/_header.scss */
.header-links ul li a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
}
/* line 276, ../resources/scss/layout/_header.scss */
.header-links ul li a:hover {
  color: #fa4b2a;
}

/* line 3, ../resources/scss/helpers/_base.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 7, ../resources/scss/helpers/_base.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 12, ../resources/scss/helpers/_base.scss */
body {
  background-color: white;
  font-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Slabo 27px", serif;
  font-style: normal;
}
@media screen and (min-width: 600px) {
  /* line 12, ../resources/scss/helpers/_base.scss */
  body {
    font-size: 17px;
  }
}
@media screen and (min-width: 800px) {
  /* line 12, ../resources/scss/helpers/_base.scss */
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1025px) {
  /* line 12, ../resources/scss/helpers/_base.scss */
  body {
    font-size: 15px;
  }
}

/* line 31, ../resources/scss/helpers/_base.scss */
a {
  text-decoration: none;
}

/* line 35, ../resources/scss/helpers/_base.scss */
ul li {
  list-style-type: none;
}

/* line 39, ../resources/scss/helpers/_base.scss */
h2 {
  color: white;
  font-family: Adelle, Georgia, serif;
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 15px;
  font-weight: normal;
  line-height: 1.2;
  padding: 12px;
}
@media screen and (min-width: 1025px) {
  /* line 39, ../resources/scss/helpers/_base.scss */
  h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1025px) {
  /* line 39, ../resources/scss/helpers/_base.scss */
  h2 {
    white-space: pre-wrap;
  }
}

/* line 6, ../resources/scss/layout/_first-image-links.scss */
.content {
  width: 100%;
  height: auto;
}
/* line 9, ../resources/scss/layout/_first-image-links.scss */
.content .content-el {
  width: 100%;
  height: 525px;
  border: 1px solid #ddd;
}

/* line 15, ../resources/scss/layout/_first-image-links.scss */
.el, .avengers, .may-weather, .startup, .last-of-us, .weekender, .watch, .tesla {
  width: 341px;
  height: 175px;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  z-index: 1;
}

/* line 22, ../resources/scss/layout/_first-image-links.scss */
.image-after, .avengers:after, .may-weather:after, .startup:after, .last-of-us:after, .weekender:after, .watch:after, .tesla:after {
  opacity: .7;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 28, ../resources/scss/layout/_first-image-links.scss */
.image-hover-after, .avengers:hover:after, .may-weather:hover:after, .startup:hover:after, .last-of-us:hover:after, .weekender:hover:after, .watch:hover:after, .tesla:hover:after {
  opacity: .9;
}

/* line 33, ../resources/scss/layout/_first-image-links.scss */
.avengers {
  height: 350px;
  background-image: url("../resources/images/avengers-age-of-ultron-comic-con-14-poster-full-hd.0.0.jpg");
}
/* line 39, ../resources/scss/layout/_first-image-links.scss */
.avengers:after {
  background-image: -webkit-linear-gradient(135deg, #292484, #dc4225);
}
/* line 46, ../resources/scss/layout/_first-image-links.scss */
.avengers h2 {
  font-size: 2.5rem;
}
@media screen and (max-width: 700px) {
  /* line 33, ../resources/scss/layout/_first-image-links.scss */
  .avengers {
    width: 100%;
    height: 180px;
    background-size: cover;
  }
}
@media screen and (min-width: 700px) and (max-width: 1025px) {
  /* line 33, ../resources/scss/layout/_first-image-links.scss */
  .avengers {
    background-size: cover;
    width: 50%;
  }
}
@media screen and (max-width: 1025px) {
  /* line 58, ../resources/scss/layout/_first-image-links.scss */
  .avengers h2 {
    font-size: 1.3rem;
  }
}

/* line 64, ../resources/scss/layout/_first-image-links.scss */
.may-weather {
  background-image: url("../resources/images/GettyImages-472022182.0.jpg");
}
/* line 68, ../resources/scss/layout/_first-image-links.scss */
.may-weather:after {
  background-image: -webkit-linear-gradient(135deg, #002f4b, #417711);
}
@media screen and (max-width: 700px) {
  /* line 64, ../resources/scss/layout/_first-image-links.scss */
  .may-weather {
    width: 100%;
    height: 180px;
    background-size: cover;
  }
}
@media screen and (min-width: 700px) and (max-width: 1025px) {
  /* line 64, ../resources/scss/layout/_first-image-links.scss */
  .may-weather {
    background-size: cover;
    width: 50%;
  }
}
@media screen and (max-width: 1025px) {
  /* line 84, ../resources/scss/layout/_first-image-links.scss */
  .may-weather h2 {
    font-size: 1.3rem;
  }
}

/* line 89, ../resources/scss/layout/_first-image-links.scss */
.startup {
  background-image: url("../resources/images/GettyImages-461180118.0.jpg");
}
/* line 93, ../resources/scss/layout/_first-image-links.scss */
.startup:after {
  background-image: -webkit-linear-gradient(135deg, #292484, #a83279);
}
@media screen and (max-width: 700px) {
  /* line 89, ../resources/scss/layout/_first-image-links.scss */
  .startup {
    width: 100%;
    height: 180px;
    background-size: cover;
  }
}
@media screen and (min-width: 700px) and (max-width: 1025px) {
  /* line 89, ../resources/scss/layout/_first-image-links.scss */
  .startup {
    background-size: cover;
    width: 50%;
  }
}
@media screen and (max-width: 1025px) {
  /* line 109, ../resources/scss/layout/_first-image-links.scss */
  .startup h2 {
    font-size: 1.3rem;
  }
}

/* line 114, ../resources/scss/layout/_first-image-links.scss */
.last-of-us {
  background-image: url("../resources/images/The_Last_of_Us__Remastered_20150312202125_1.0.0.jpg");
}
/* line 118, ../resources/scss/layout/_first-image-links.scss */
.last-of-us:after {
  background-image: -webkit-linear-gradient(135deg, #d38312, #002f4b);
}
@media screen and (max-width: 1025px) {
  /* line 114, ../resources/scss/layout/_first-image-links.scss */
  .last-of-us {
    width: 500px;
    height: 180px;
    background-size: cover;
    font-size: 0.7rem;
  }
}

/* line 131, ../resources/scss/layout/_first-image-links.scss */
.weekender {
  height: 350px;
  background-image: url("../resources/images/weekender-graphics_apple.0.jpg");
}
/* line 136, ../resources/scss/layout/_first-image-links.scss */
.weekender:after {
  background-image: -webkit-linear-gradient(135deg, #e0be00, #dc4225);
}
/* line 143, ../resources/scss/layout/_first-image-links.scss */
.weekender h2 {
  font-size: 2.5rem;
}
@media screen and (max-width: 1025px) {
  /* line 131, ../resources/scss/layout/_first-image-links.scss */
  .weekender {
    width: 500px;
    height: 180px;
    background-size: cover;
  }
  /* line 150, ../resources/scss/layout/_first-image-links.scss */
  .weekender h2 {
    font-size: 1.1rem;
  }
}

/* line 155, ../resources/scss/layout/_first-image-links.scss */
.watch {
  top: -175px;
  background-image: url("../resources/images/GettyImages-461496224.0.jpg");
}
/* line 160, ../resources/scss/layout/_first-image-links.scss */
.watch:after {
  background-image: -webkit-linear-gradient(135deg, #d38312, #a83279);
}
@media screen and (max-width: 1025px) {
  /* line 155, ../resources/scss/layout/_first-image-links.scss */
  .watch {
    width: 500px;
    height: 180px;
    background-size: cover;
    font-size: 0.8rem;
    top: 0;
  }
}

/* line 174, ../resources/scss/layout/_first-image-links.scss */
.tesla {
  top: -175px;
  background-image: url("../resources/images/DSC_8244-2040w.0.0.jpg");
}
/* line 179, ../resources/scss/layout/_first-image-links.scss */
.tesla:after {
  background-image: -webkit-linear-gradient(135deg, #417711, #dc4225);
}
@media screen and (max-width: 1025px) {
  /* line 174, ../resources/scss/layout/_first-image-links.scss */
  .tesla {
    width: 500px;
    height: 180px;
    background-size: cover;
    font-size: 0.8rem;
    top: 0;
  }
}

/* line 194, ../resources/scss/layout/_first-image-links.scss */
.comment-higher {
  background-color: #ffd800;
  color: black;
}
@media screen and (max-width: 1025px) {
  /* line 194, ../resources/scss/layout/_first-image-links.scss */
  .comment-higher {
    margin-top: -20px;
  }
}

/* line 203, ../resources/scss/layout/_first-image-links.scss */
.comment-lower {
  background-color: #95ae20;
  color: white;
}
@media screen and (max-width: 1025px) {
  /* line 203, ../resources/scss/layout/_first-image-links.scss */
  .comment-lower {
    margin-top: -20px;
  }
}

/* line 213, ../resources/scss/layout/_first-image-links.scss */
.author {
  float: left;
}

/* line 216, ../resources/scss/layout/_first-image-links.scss */
.comment, .comment-higher, .comment-lower {
  float: right;
  font-size: 13px;
  padding: .4rem .2rem .2rem;
  line-height: .8;
}
/* line 222, ../resources/scss/layout/_first-image-links.scss */
.comment:before, .comment-higher:before, .comment-lower:before {
  border-top-color: black;
  border: 0 solid transparent;
  border-top-color: black;
  border-width: 5px 7px 0px 0px;
  position: absolute;
  content: '';
  top: 30px;
  right: 15px;
}
@media screen and (max-width: 1025px) {
  /* line 222, ../resources/scss/layout/_first-image-links.scss */
  .comment:before, .comment-higher:before, .comment-lower:before {
    top: 36px;
  }
}

@media screen and (max-width: 1025px) {
  /* line 238, ../resources/scss/layout/_first-image-links.scss */
  .image-scroll {
    overflow-x: scroll;
    display: inline-block;
    width: 100%;
    height: 180px;
    background-color: black;
    overflow-y: hidden;
    max-width: 1370px;
    white-space: nowrap;
  }
  /* line 250, ../resources/scss/layout/_first-image-links.scss */
  .image-scroll li {
    display: inline-block;
  }
}

/* line 3, ../resources/scss/helpers/_base.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 7, ../resources/scss/helpers/_base.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 12, ../resources/scss/helpers/_base.scss */
body {
  background-color: white;
  font-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Slabo 27px", serif;
  font-style: normal;
}
@media screen and (min-width: 600px) {
  /* line 12, ../resources/scss/helpers/_base.scss */
  body {
    font-size: 17px;
  }
}
@media screen and (min-width: 800px) {
  /* line 12, ../resources/scss/helpers/_base.scss */
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1025px) {
  /* line 12, ../resources/scss/helpers/_base.scss */
  body {
    font-size: 15px;
  }
}

/* line 31, ../resources/scss/helpers/_base.scss */
a {
  text-decoration: none;
}

/* line 35, ../resources/scss/helpers/_base.scss */
ul li {
  list-style-type: none;
}

/* line 39, ../resources/scss/helpers/_base.scss */
h2 {
  color: white;
  font-family: Adelle, Georgia, serif;
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 15px;
  font-weight: normal;
  line-height: 1.2;
  padding: 12px;
}
@media screen and (min-width: 1025px) {
  /* line 39, ../resources/scss/helpers/_base.scss */
  h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1025px) {
  /* line 39, ../resources/scss/helpers/_base.scss */
  h2 {
    white-space: pre-wrap;
  }
}

/* line 6, ../resources/scss/layout/_second-marvel-universe.scss */
.color-white {
  color: white;
}
/* line 9, ../resources/scss/layout/_second-marvel-universe.scss */
.color-white:hover {
  text-decoration: underline;
}

/* line 14, ../resources/scss/layout/_second-marvel-universe.scss */
.color-logo, .color-white:hover {
  color: #fa4b2a;
}

/* line 18, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-logo-create, .marvel-cine-header ul .logo .logo4, .marvel-cine-header ul .logo .logo3, .marvel-cine-header ul .logo .logo2, .marvel-cine-header ul .logo .logo1 {
  transform: skew(-10deg, -20deg);
  width: 13px;
  height: 13px;
  border-width: thick;
}

/* line 23, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header {
  width: 98.5%;
  height: 30px;
  background-color: black;
  padding: .55rem .5rem;
}
/* line 28, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header ul {
  width: 100%;
  height: 30px;
}
/* line 30, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header ul .logo {
  width: 100%;
  height: 30px;
  text-transform: uppercase;
  color: white;
}
/* line 35, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header ul .logo .logo4 {
  border: 2px solid blueviolet;
  margin-top: 5px;
  margin-left: -660px;
  display: inline-block;
  border-bottom: none;
  border-right: none;
  border-width: thick;
}
/* line 43, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header ul .logo .logo3 {
  border: 2px solid red;
  border-bottom: none;
  border-right: none;
  border-width: thick;
  margin-top: 5px;
  margin-left: -15px;
  display: inline-block;
}
/* line 51, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header ul .logo .logo2 {
  background-color: white;
  margin-top: 8px;
  margin-left: -15px;
  display: inline-block;
}
/* line 56, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header ul .logo .logo1 {
  border: 2px solid grey;
  border-top: none;
  border-left: none;
  margin-top: 12px;
  margin-left: -13px;
  display: inline-block;
}
/* line 64, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header ul .title {
  width: 70%;
  height: 30px;
  color: white;
  font-size: 30px;
  margin-left: 10px;
}
/* line 70, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header ul .title-watch {
  color: #fa4b2a;
  font-size: 30px;
  margin-left: 10px;
}
/* line 75, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header ul .title-watch:hover {
  text-decoration: underline;
}
/* line 79, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header ul .title-seemore {
  float: right;
  margin-top: 12px;
}
/* line 83, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-cine-header ul .title-seemore:hover {
  text-decoration: underline;
}

/* line 90, ../resources/scss/layout/_second-marvel-universe.scss */
.image-marvel-after, .marvel-videos:after {
  opacity: .7;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 97, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-videos {
  width: 70%;
  height: 450px;
  background: url("../resources/images/vrg_vup_194_marvel_thumb_720.0.0.png") no-repeat;
  background-size: cover;
  position: relative;
  top: -125px;
  left: 0;
  float: left;
  z-index: 10;
}
/* line 107, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-videos:after {
  background-image: -webkit-linear-gradient(135deg, #dc4225, #002f4b);
}
/* line 111, ../resources/scss/layout/_second-marvel-universe.scss */
.marvel-videos:hover:after {
  background-image: -webkit-linear-gradient(135deg, #292484, #dc4225);
  opacity: .9;
}
