@import "compass";
@import 'helpers/_base';
@import 'helpers/_mixins';
@import 'helpers/_variables';

.author-comment{
	color: $color-white;
	font-size: 0.7rem;
	font-family: $main-font-family;
	position: absolute;
  	z-index: 3;
  	padding: 10px 15px 0 15px;
  	@include size(85%);
}

.container{
	margin: 0 auto;
	max-width: 1025px;
	height: auto;

	.container-header{
		@include size(100%,65px);
		@media screen and (max-width: 1025px){
			background-color: $color-logo;
		}
		@media screen and (min-width: 1025px){
			margin-top: 10px;
			height: 145px;
		}

		.upper-header{
			@include size;			
			@media screen and (min-width: 1025px){
				height: 96px;
			}
			@media screen and (max-width: 1025px){
				height: 65px;
			}

			.trend-article{
				@include size(72.1%,65px);
				@media screen and (min-width: 1025px){
					height: 76px;
				}
				@include float-right;

				@media screen and (min-width: 1025px){
					margin-top: 20px;
				}				
			}
		}
		@media screen and (min-width: 1025px){
		.lower-header-links{
			@include size(100%,49px);
			position: relative;
			}
		}
	}
}


#logo{
	@include float-left;
	@include size(29.3%,65px);

    background-color: #fa4b2a;

    background-repeat: no-repeat;
    background-size: 100%;

    @media screen and (min-width: 700px) and (max-width: 1025px){
    	background-size: 80%;
    }

    @media screen and (min-width: 1025px){
		margin: 20px 0 0 -15px;
		height: 80px;
	}

    @media screen and (max-width: 700px){
    	width: 40%;
    }
    @media screen and (max-width: 1025px){
    	width: 25%;
    }
    &:hover{
    	background-color: $color-red;
    }
}

.logo-style{
  	@include size(90%,80px);
  	padding: 0 5px 0 18px;
  	float: left;
}
.jack{
	@media screen and (min-width: 700px){
		@include inline-block;
		@include size(85%,60px);
	    background-color: $color-white;

	    @media screen and (max-width: 1025px) and (min-width: 700px){
	    	margin-top: 0;
  			@include size(84%,65px);
	    }

	    img{
	    	@include float-left;

	    	@media screen and (max-width: 1045px) and (min-width: 700px){
	    		display: none;
	    	}
    	}
	}
	@media screen and (max-width: 700px){
		display: none;
	}
	
}
.trend-nw{
 		border: 1px solid $color-black;
 		height: 63px;
 		@include float-left;
 		padding-left: 10px;

 		@media screen and (max-width: 1045px){
 			width: 98%;
 		}
 		@media screen and (min-width: 1045px){
 			width: 83.7%;
 		}
  		.trend-text{
  			float: left;
		    @include size(92%,48px);
		    padding-top: 5px;
		    line-height: 1.7;

		    @media screen and (max-width: 1025px) and (min-width: 700px){
	    		height: 38px;
	    	}

  			header{
	 			color: $color-red;
	 			font-size: $header-font5;
 			}
			h3{
				font-size: .85rem;
				font-weight: normal;
				color: $color-black;

				@media screen and (max-width: 1025px) and (min-width: 700px){
		    		font-size: 0.75rem;
	    		}

				&:hover{
					color: $color-red;
				}
			}
  		}
 		.trend-drop-down{
			@include size(8%,58px);
			@include float-right;
			background-color: $color-grey;
			position: relative;

			&:after{
			    border: 0 solid transparent;
			    border-top-color: $color-black;
			    border-width: 5px 5px 0 5px;
			    position: absolute;
			    content: '';
			    top: 30px;
			    left: 15px;
			}
			&:hover:after{
				border-top-color: $color-red;
			}

			@media screen and (max-width: 1025px) and (min-width: 700px){
	    		height: 63px;
	    	}
 		}
}
.new-article{
	background-color: $color-logo;
	color: $color-white;
	@include float-right;
    @include size(10.1%,65px);
    padding: 0 2px 0 4px;

     @media screen and (max-width: 700px){
     	width: 25%;
     }
      @media screen and (max-width: 1025px) and (min-width:700px){
     	width: 14%;
     }

    @media screen and (min-width: 1025px){
		@include size(14.1%,60px);
	}
	@media screen and (max-width: 1025px){
		height: 60px;
	}

    &:hover{
    	background-color: $color-red;
    }

    strong{
    	line-height: 1;
	    font-size: 2.5rem;
	    margin-left: 30px;
        margin-top: 3px;

        @media screen and (max-width: 1025px) and (min-width: 700px){
        	margin-left: 15px;
        }
        @media screen and (max-width: 700px){
        	margin-left: 10px;
        }
    }
    div{
    	em{
    	font-size: .85rem;
    	font-style: normal;

    	@media screen and (max-width: 870px) and (min-width: 600px){
    			font-size: .75rem;
    		}
    	@media screen and (max-width: 1025px) and (min-width: 870px){
    			font-size: .65rem;
    		}
    	@media screen and (max-width: 600px){
        		font-size: 0.8rem;
        	}
        }
    }
}
.social-icons{
	@media screen and (max-width: 1025px){
		display: none;
	}
	@include size(130px,16px);
  	float: right;
	ul{
		li{
			@include inline-block;
			margin-left: 10px;
			a{
				img{
  					@include size(18px,14px);
				}
			}			
		}
	}
}
#header-links{
	@media screen and (max-width: 1025px){
		display: none;
	}
	height: 30px;
	padding: 10px;
	background-color: $color-black;

	ul{
		li{
			text-transform: uppercase;
			// @include inline-block;
			display: inline-block;
			margin-right: 15px;
			font-family: $header-link-font;

			.link-text-style{
				color: $color-white;

				&:hover{
  					color: $color-logo;
  				}

				img{
	  				@include size(30px,30px);
	  				margin-right: 5px;
	  				vertical-align: middle;
  				}
  				
			}
		}
	}
}

.lowerheader-static{
	position: fixed;
	top : 0;
	z-index : 25;
	width : 74.5%;
}
.lowerheader-normal{
	position:absolute;
    width:98%;
	height:30px;
	padding:10px;
}

#triangle-icon{
	display: none;
	display: initial;
	width: 20px;
	height: 20px;
	float: left;
	transition: transform .5s ease-in-out;
	position: absolute;
	bottom: 15px;

	&:hover{
		transform: rotate(360deg);
	}
}

.test{
  	position: absolute;
  	display: none;
 	z-index: 2;
  	padding: 0.5rem;
  	box-shadow: inset 0 0 15px 0 rgba(0,0,0,0.1);
  	border: 10px solid white;
  	outline-color: $color-logo;
  	outline-style: solid;
}

#search{
	@extend .test;
	top: 52px;
	left: 72%;
    width: 20%;
}
#header-dropdown{
	@extend .test;
	@include size(94.5%,200px);
	background-color: $color-white;
}

.header-drop-content{
	@include float-left;
	width: 18%;
	height: 70%;
}

.header-drop-content1{
	@extend .header-drop-content;
	@include header-dpimg('../resources/images/Grate_color_1.0.0.jpg');
	left: 0;
}
.header-drop-content2{
	@extend .header-drop-content;
	@include header-dpimg('../resources/images/TBrown_slots_22.0.0.jpg');
}
.header-drop-content3{
	@extend .header-drop-content;
	@include header-dpimg('../resources/images/Duplicate.0.0.jpeg');
}
.header-drop-content4{
	@extend .header-drop-content;
	@include header-dpimg('../resources/images/SUSAN-MILLER-OPENER.0.0.gif');
}
.header-drop-content5{
	@extend .header-drop-content;
	@include header-dpimg('../resources/images/social-share_1024.0.0.png');
}

.header-drop-text{
	position: absolute;
	top: 145px;
	text-transform: none;

	.drop-text-style{
		color: $color-black;

		&:hover{
			color: $color-logo;
		}
	}
}