@import "compass";
@import 'helpers/_base';
@import 'helpers/_mixins';
@import 'helpers/_variables';

.storystreams{

	.most-recent-storystreams{
		margin-top: -10px;
	}

	@media screen and (min-width: 600px){
		@include size(100%, 675px);
		position: relative;

		@media screen and (min-width: 600px) and (max-width: 1025px){
			top: 695px;
		}
	}
	@media screen and (max-width: 600px){
		display: none;
	}
}
.photo-essays{
	@extend .storystreams;
	@include size(100%,272px);

	.most-recent-storystreams{
		margin-top: -70px;
	}

	@media screen and (min-width: 600px) and (max-width: 1025px){
			top: 560px;
		}

	@media screen and (min-width: 600px) and (max-width: 1025px){
		.most-recent-storystreams{
			margin-top: -680px;
		}
	}
	
}

@media screen and (min-width: 600px){
	.most-recent-storystreams{
		@include size(100%,68px);
		text-align: left;
		text-transform: uppercase;
		color: $color-white;
		font-size: 22px;
		z-index: 20;
		margin-top: -70px;

		.most-recent-image{
			@include size(100px, auto);
			margin-left: 15px;
			position: absolute;
			left: 0;
		}
		.most-recent-text{
			@include float-left;
		    position: absolute;
		    left: 25px;		   
		    top: 15px;
		    text-align: center;
		    transform: rotate(-10deg);
		    -webkit-transform: rotate(-10deg);		    
		}
		.photo-story{
			@include size(auto, auto);
		    background-color: $color-black;
		    position: absolute;
		    top: 25px;
		    left: 105px;
		    padding: 0.5rem;
		    font-style: italic;
		}
		}
}


.multi-link{
	@include size(100%, 607px);
	display: block;
	border-top: 3px solid $color-black;

	li{
		border: 1px solid $color-strong-grey;
	}
}

.photoessay-multi-link{
	@extend .multi-link;
	@include size(100%,200px)
}

#multi-photoessay-content1{
	@include multi-content('../resources/images/17403200071_daabc85148_o.0.0.jpg','../resources/images/rolls-royce-wraith-inspired-by-fashion-unveil-IMG_9447-vrg-rm-2015.0.0.jpg','../resources/images/RR_3575_Front_3Q.0.0.jpg');

	.author-date-comment{
		position: absolute; 
		z-index: 2;
		color: $color-white;
		padding: 0.5rem;
		top: 105px;
		font-size: 14px;
	}
}

#multi-photoessay-content2{
	@include multi-content('../resources/images/camaro-reveal-002-2040.0.0.jpg','../resources/images/DB2015AU00959_large.0.0.jpg','../resources/images/porsche-experience-center-008-2040.0.0.jpg');
	display: none;

	.author-date-comment{
		position: absolute; 
		z-index: 2;
		color: $color-white;
		padding: 0.5rem;
		top: 105px;
		font-size: 14px;
	}
}

#multi-content-sec1{
	@include multi-content('../resources/images/first-click-spain.0.0.png','../resources/images/apple-watch-notif-stock-IMG_3397_copy.0.0.jpg','../resources/images/watchlead.0.0.jpg');
	z-index: 2;
}
#multi-content-sec2{
	@include multi-content('../resources/images/ef989fe2-5c9b-4437-ad74-eebf34fbb625.0.0.jpg','../resources/images/vrg_vho_348_hololens_header_720.0.0.png','../resources/images/hololensehandson5_1020.0.0.jpg');
	top: 270px;
	z-index: 2;
}
#multi-content-sec3{
	@include multi-content('../resources/images/Screen_Shot.multi-content2_2015-05-06_at_12.12.54_PM.0.0.png','../resources/images/Nexus-Family.0.0.jpg','../resources/images/Screen_Shot_2015-04-22_at_4.45.59_PM.0.0.png');
	top: 470px;
	z-index: 2;
}
#multi-content-sec4{
	@include multi-content('../resources/images/v-IMG_3672.0.0.jpg','../resources/images/WaterlichtRoosegaarde10.0.0.jpg','../resources/images/g4-11.0.0.jpg');
	display: none;
	z-index: 1;
}
#multi-content-sec5{
	@include multi-content('../resources/images/FXT14058-2.0.0.jpg','../resources/images/e-logo.0.0.jpg','../resources/images/Screen_Shot_2015-04-29_at_2.25.13_PM.0.0.png');
	top: 270px;
	display: none;
	z-index: 1;
}
#multi-content-sec6{
	@include multi-content('../resources/images/Nexus6withMoto360.0.0.jpg','../resources/images/nexus-6-review-c-theverge-1_1320.0.0.jpg');
	top: 470px;
	display: none;
	z-index: 1;
}

.flap-over1{
	@include flap-over($color-lightyellow,$color-darkyellow);

	// @media screen and (max-width: 1025px){
	// 	position: fixed;
	// 	top: 200px;
	// }
}
.flap-over2{
	@include flap-over($color-logo,$color-darkorange);

	// @media screen and (max-width: 1025px){
	// 	position: fixed;
	// 	top: 200px;
	// }
}
.flap-over3{
	@include flap-over($color-skyblue,$color-strong-skyblue);

	// @media screen and (max-width: 1025px){
	// 	position: fixed;
	// 	top: 200px;
	// }
}

.left-scroll-move{
	@include size(5%, 200px);
	@include float-left;

	@media screen and (max-width: 1025px){
		display: none;
	}
}
.right-scroll-move{
	@include size(5%, 200px);
	@include float-right;

	@media screen and (max-width: 1025px){
		display: none;
	}

	&:hover{
		background-color: $color-strong-ivory
	}
}
.scroll{
	content: '';		
	width: 0;
	height: 0;
	border: 0 solid transparent;
	position: relative;
}
.left-scroll{
	@extend .scroll;
	border-width: 15px 15px 15px 8px;
	top: 90px;	
	border-right-color: $color-grey;	

	&:after{
		@include image-after(5px, 6px);
		background-color: $color-grey;
		left: 15px;
  		bottom: -8px;
  		height: 15px;
	}
}
.right-scroll{
	@extend .scroll;
	border-left-color: $color-strong-grey;
	border-width: 15px 0px 15px 14px;
	@include float-right;
	top: 95px;
	left: -5px;

	&:before{
		@include image-after(5px, 6px);
		background-color: $color-dark-grey;
		left: -19px;
  		bottom: -8px;
  		height: 15px;
	}
}