@mixin size($width: 100%, $height: auto){
	width: $width;
	height: $height;
}
@mixin marvel-logo-ppties($top: 0px, $left:0px){
	margin-top: $top;
	margin-left: $left;
	display: inline-block;
}
@mixin side-video-img($img: ''){
	@include size(35.7%,100%);
	background: url($img) no-repeat;
	background-size: 110px 100px;
	@media screen and (max-width: 700px){
		width: 17%;
		background-size: 115px 95px;
	}
}
@mixin side-video-play($top: 0px,$left: 0px){
	width: 40px;
    height: 40px;
    border-radius: 80px;
    z-index: 13;
    background-color: #222;
    top: $top;
    left: $left;
    opacity: 0.6;
    border: 3px solid white;
    position: absolute;
}
@mixin common-video{
	@extend .video-link;

	&:after{
		@extend .play;
	    border-width: 12px 0 12px 22.66667px;
	    display: block;
	    z-index: 13;
	    left: 35px;
	    position: relative;
  		top: 30px;

  		@media screen and (min-width: 1025px){
  			left: 50px;
  		}
  		@media screen and (min-width: 700px) and (max-width: 1025px){
  			left: 35px;
  		}
	}
}
@mixin each-video{
	@include float-left;
	position: relative;
	top: 0px;
	left: 0px;

	&:after{
		  @extend .image-marvel-after;
		  @include side-video-play(20px,35px);

		  @media screen and(max-width: 700px){
		  	 @include side-video-play(20px,18px);
		  }
		  @media screen and(max-width: 1025px) and (min-width: 700px){
		  	@include side-video-play(20px,20px);
		  }
		}
}
@mixin linear-gradient($color1: $color-white, $color2: $color-white){
	background-image: -webkit-linear-gradient(135deg,$color1,$color2);
    background-image: linear-gradient(135deg,$color1,$color2);
}

@mixin box-style($height: 50%){
	@include size(29%,$height);
	border: 1px solid $color-grey;
	padding: 1.3rem;
}

@mixin article-edge($top: 0){
	content: "";
    position: absolute;
    top: $top;
    // left: 332px;
    left: 97.5%;
    border: 1px solid $color-strong-grey;
    border-width: 1px 1px 0 0;
    display: block;
    width: 8px;
    height: 8px;
    z-index: 10;
}

@mixin each-article($top: 0){
	position: relative;
	top: $top;
	@include float-left;
}
@mixin article-before($left: -3px){
	@include article-edge(0px);
	border-width: 1px 0 0 1px;
	left: $left;
}

@mixin section-divide($left: 0px){
	position: absolute;
    content: '';
    border: 1px solid #919191;
    border-width: 0px 0px 1px 1px;
    bottom: -32px;
    z-index: 25;
    left: $left;
    height: 8px;
}
@mixin gradient-image-style($width: 100%,$height: 100%){
	@include size($width,$height);
	background-size: cover;
}
@mixin image-after($width: 100%,$height: 100%){
	opacity: .7;
	content: '';
	position: absolute;
	@include size($width,$height);
}
@mixin article-image-link($box-style: 0%,$top: 0px, $left: 0px){
	@include box-style($box-style);
	border: none;
	border-right: 1px solid $color-grey;
	position: absolute;
	left: $left;
	top: $top;
}
@mixin bg-img($path: '../resources/images/cannes.jpg', $width: 0px, $height: 0px){
	background: url($path) no-repeat;
	background-size: cover;
	@include size($width,$height);
	@include float-left;
	position: relative;
}

@mixin header-dpimg($path: '../resources/images/cannes.jpg'){
	background: url($path) no-repeat;
	background-size: cover;
	margin-left: 2%;
	position: relative;
}
@mixin databreaker($path: '../resources/images/cannes.jpg'){
	@include bg-img($path,50%,100%);

	h2{
		@include section1-image-text;

		@media screen and (max-width: 700px){
			font-size: 1.3rem;
		}
		@media screen and (min-width: 700px){
			font-size: 2.5rem;
		}
	}
	.data-breaker-author{
			position: absolute;
			top: 180px;
			padding-left: 40px;
			color: $color-white;
			z-index: 1;
	}
}

@mixin section1-image-text{
  position: absolute;
  z-index: 2;  
  text-align: center;
  top: 15px;
  font-weight: normal;   
  line-height: 1.2;
  padding: 12px;

  @media screen and (min-width: 1025px){
    font-size: 1.3rem;
  }
  @media screen and (max-width: 1025px){
    white-space: pre-wrap;
  }
}

@mixin article2-content-style($top: 48%, $left: 0%){
	display: initial;
	top: $top;
	left: $left;
	width: 45.5%;
}

@mixin update-seemore-link{
	color: $color-white;
	width: 65px;
	height: auto;
	position: relative;
	content: '';
}
@mixin update-seemore-after{
	content: '';		
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-left-color: $color-black;
	border-width: 9px 0 9px 8px;
	position: absolute;
}

@mixin h3{
	position: absolute;
    z-index: 25;
    padding: 8px;
    top: 15px;
    color: $color-white;
    font-weight: normal;
}

@mixin multi-content($path1: '../resources/images/cannes.jpg',$path2: '../resources/images/cannes.jpg',$path3: '../resources/images/cannes.jpg'){
	content: '';
	@include size(100%, auto);
	position: absolute;
	// z-index: 21;
	background-color: $color-ivory;
	font-size: 15px;

	@media screen and (min-width: 600px) and (max-width: 1025px){
		overflow-x: scroll;
	    display: inline-block;
	    width: 100%;
	    height: 200px;
	    background-color: black;
	    overflow-y: hidden;
	    max-width: 1500px;
	    display: inline-block;
	}

	a{
			.multi-content1{
			@include bg-img($path1,30%,200px);
			// left: 5%;

			@media screen and (min-width: 600px) and (max-width: 1025px){
				width: 400px;
			}

			&:after{
				@include image-after;
				@include linear-gradient($color6-sandal,$color3-navyblue);
			}
			&:hover:after{
				@include linear-gradient($color4-greenlake,$color3-navyblue);
			}
			h3{
				@include h3;
			}
		}
	}
	a{
		.multi-content2{
		@include bg-img($path2,30%,200px);
		// left: 5%;

		@media screen and (min-width: 600px) and (max-width: 810px){
			width: 400px;
			left: 400px;
			top: -200px;
		}
		@media screen and (min-width: 815px) and (max-width: 1025px){
			width: 400px;
		}

		&:after{
			@include image-after;
			@include linear-gradient($color5-pink,$color3-navyblue);
			// left: -0px;
		}
		&:hover:after{
			@include linear-gradient($color1-offnavyblue,$color2-darkpink);
		}
		h3{
			@include h3;
			}
		}
	}
	a{
		.multi-content3{
		@include bg-img($path3,30%,200px);
		// left: 5%;

		@media screen and (min-width: 600px) and (max-width: 1025px){
			width: 400px;
			left: 800px;
			float: none;
		}

		&:after{
			@include image-after;
			@include linear-gradient($color4-greenlake,$color1-offnavyblue);
			left: -0px;
		}
		&:hover:after{
			@include linear-gradient($color2-darkpink,$color3-navyblue);
		}
		h3{
				@include h3;
			}
		}
	}
	
	}

@mixin flap-over($bg-color: $color-logo, $fold-color: $color-white){
	content: '';
	width: 650px;
	padding: 0.2rem;
	background-color: $bg-color;
	z-index: 2;
	top: 130px;
	position: absolute;
	left: -25px;
	color: $color-white;
	text-transform: uppercase;

	h3{
		font-size: 15px;
		margin-left: 15px;
		font-style: italic;
	}

	&:before{
		border: 0 solid transparent;
		@include image-after(0,0);
		border-right-color: $fold-color;
  		border-width: 0 20px 20px 0;
  		position: absolute;
  		top: 100%;
  		left: 0;
	}
	p{
		font-size: 11px;
		font-style: normal;
	}
}

@mixin img-link-size($path: '../resources/images/cannes.jpg',$color1: $color2-darkpink, $color2: $color1-offnavyblue){
	@include size(32.5%,100%);
	background: url($path) no-repeat;
	background-size: cover;
	@include float-left;
	position: relative;

	&:after{
		@include image-after(100%,100%);
		@include linear-gradient($color1,$color2);
	}
	&:hover:after{
		@include linear-gradient($color2,$color1);
	}

}

@mixin verge-score-style($color: $color7-lightyellow){
	position: absolute;
	top: 0;
	left: 0;
	@include size(50px,50px);
	padding: 1rem;
	text-transform: uppercase;
	background-color: $color;
	color: white;
	z-index: 2;
	font-weight: bold;
}

.show{
	display: initial;
}
.hide{
	display: none;
}

@mixin link-image-style($path: '../resources/images/cannes.jpg'){
	background: url($path) no-repeat;
	background-size: cover;
	@include float-left;
	position: relative;
} 

@mixin image-link-after($color1:$color4-greenlake ,$color2:$color1-offnavyblue){
	@include image-after;
	@include linear-gradient($color1,$color2);
	z-index: 1;
	left: -0;
	top: 0;
}