//colours
$color-white: white;
$color-black: black;
$color-red: red;
$color-logo: #fa4b2a;
$color-grey: #ddd;
$color-green: #95ae20;
$color-yellow: #ffd800;

//font-size
$body-font1: 15px;
$body-font2: 16px;
$body-font3: 17px;
$logo-font4: 50px;
$header-font5: 13px;
$header-font6: 10px;

//font-family
$main-font-family: Helvetica,Arial,sans-serif;
$header-link-font: 'Slabo 27px', serif;
$heading2-font: Adelle,Georgia,serif;
