//colours
$color-white: white;
$color-black: black;
$color-red: red;
$color-logo: #fa4b2a;
$color-grey: #ddd;
$color-green: #95ae20;
$color-yellow: #ffd800;
$color-strong-grey: #666;
$color-dark-grey: #222;
$color-hover: #303030;

//gradient colors
$color1: #292484;
$color2: #dc4225;
$color3: #002f4b;
$color4: #417711;
$color5: #292484;
$color6: #a83279;
$color7: #d38312;
$color8: #e0be00;

//font-size
$body-font1: 15px;
$body-font2: 16px;
$body-font3: 17px;
$logo-font4: 50px;
$header-font5: 13px;
$header-font6: 10px;

//font-family
$main-font-family: Helvetica,Arial,sans-serif;
$header-link-font: 'Slabo 27px', serif;
$heading2-font: Adelle,Georgia,serif;
