//colours
$color-white: white;
$color-black: black;
$color-red: red;
$color-logo: #fa4b2a;
$color-grey: #ddd;
$color-green: #95ae20;
$color-yellow: #ffd800;
$color-strong-grey: #666;
$color-dark-grey: #222;
$color-hover: #303030;
$color-ivory: #f7f1ee;
$color-lightyellow: #fcb400;
$color-darkyellow: #966b00;
$color-darkorange: #ba2104;
$color-skyblue: #31bdd0;
$color-strong-skyblue: #1d737e;

//gradient colors
$color1-offnavyblue: #292484;
$color2-darkpink: #dc4225;
$color3-navyblue: #002f4b;
$color4-greenlake: #417711;
$color5-pink: #a83279;
$color6-sandal: #d38312;
$color7-lightyellow: #e0be00;

//font-size
$body-font1: 15px;
$body-font2: 16px;
$body-font3: 17px;
$logo-font4: 50px;
$header-font5: 13px;
$header-font6: 10px;

//font-family
$main-font-family: Helvetica,Arial,sans-serif;
$header-link-font: 'Slabo 27px', serif;
$heading2-font: Adelle,Georgia,serif;
